# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
condaenv/

# Log files
*.log

# Data files
*.data

# Secrets
*.secrets

# Conda Files WILL be included to provide instructions for other people
# to build their own working development environment.
# environment.yml