# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
condaenv/

# Log files
*.log

# Data files
*.data
*.csv
*.json

#email data files
email_batch_dowload/
email_dowload_batch/
zzz-messages-to-delete/

# Secrets
*.secrets
token.pickle
*.pickle
zzz-old-pickles/


# Conda Files WILL be included to provide instructions for other people
# to build their own working development environment.
# environment.yml