asttokens==2.4.1
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
executing==2.0.1
google-api-core==2.19.0
google-api-python-client==2.133.0
google-api-python-client-py3==1.2
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.1
httplib2==0.22.0
idna==3.7
ipython==8.25.0
itables==2.1.1
jedi==0.19.1
joblib==1.4.2
matplotlib-inline==0.1.7
nltk==3.8.1
oauthlib==3.2.2
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.3
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.18.0
pyparsing==3.1.2
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==70.0.0
stack-data==0.6.3
tqdm==4.66.4
traitlets==5.14.3
uritemplate==4.1.1
urllib3==2.2.1
wcwidth==0.2.13
wheel==0.43.0
